<!DOCTYPE html>
<html>
  <head>
    <title>FullPicture</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container">
        <center> <a href='/'><h1>FullPicture<small> put the news in perspective.</small></h1></a></center>         
            <br>
            <br>
        <div class="row"> 
            <div class="col-sm-12">
            <center>
              <form action="/search" method="POST" class="form-inline">
                  <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" name="search">
                  </div>
                  <button type="submit" id="submit" class="btn btn-default">Submit</button>
              </form>
              </center>
            </div>
        </div>
      <br>
      <br>
      <br>

        <div class="row">

          <div class="col-sm-4" id="huffpo">
            <center><h2 class="lead">what the <span>Huffington Post</span> says about it</h2></center>
            <br>

              <% for (i = 0; i < 10; i += 2) { %>

              <div id="huffpo">
                <h4><%= results.left[i].headline %></h4>
                <a href=<%= results.left[i].link %>>Read full story<br><br></a>
              </div>

              <% } %> 
              

          </div>

          <div class="col-sm-4" id="ap">
            <center><h2 class="lead">what the <span>AP</span> says about it</h2></center>
            <br>
           	
        			<!-- <% for (i = 0; i < 5; i++) { %> -->

        			<div id="ap">
        				<h4><%= results.center %></h4>
                <br>        		
        			</div>

        		<!-- 	<% } %>  -->

          </div>

          <div class="col-sm-4" id="ap">
              <center><h2 class="lead">what <span>Fox News</span> says about it</h2></center>
              <br>
             	
         			<% for (i = 0; i < 5; i++) { %>
              
        			<div id="fox">
        				<h4><%= results.right[i].title %></h4>
                <a href=<%= results.right[i].url %>>Read full story<br><br></a>
        			</div>

    		      <% } %>

          </div>

          <br>
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-12" id="ap">
              <p>with support from news api. <a href="mailto:thorstenwschroeder@gmail.com?Subject=Hello%20again" target="_top">Contact Me</a></p>
            </div>
          </div>
          
    </div>

  </body>
</html>
