<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
  <!-- FACEBOOK SHARE BUTTON DEPENDENCY -->
  <div id="fb-root"></div>

  <div class="container">
        <center> <a href='/'><h1>FullStory<small> put the news in perspective.</small></h1></a></center>

        <% include ./partials/social_media %>

            <br>
            <br>
        <div class="row"> 
            <div class="col-sm-12">
            <center>
              <form action="/search" method="POST" class="form-inline">
                  <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" name="search">
                  </div>
                  <button type="submit" id="submit" class="btn btn-default">Submit</button>
              </form>
              </center>
            </div>
        </div>
      <br>
      <br>
      <br>

        <div class="row">

          <div class="col-sm-4" class="source">
            <center><h2 class="lead">What the <span>L E F T</span> says</h2></center>
            <br>

              <% for (i = 0; i < 12; i += 2) { %>

              <div class="stories">
                <h4><%= results.left[i].headline %></h4>
                <a target="_blank" href=<%= results.left[i].link %>>Read full story<br><br></a>
              </div>

              <% } %> 
              

          </div>

          <div class="col-sm-4" class="source">
            <center><h2 class="lead">What the <span>C E N T E R</span> says</h2></center>
            <br>
           	
        			<% for (i = 0; i < 6; i++) { %>

        			<div class="stories">
                <h4><%= results.center[i].headline %></h4>
                <a target="_blank" href=<%= results.center[i].link %>>Read full story<br><br></a>
              </div>

        			<% } %> 

          </div>

          <div class="col-sm-4" class="source">
              <center><h2 class="lead">What the <span>R I G H T</span> says</h2></center>
              <br>
             	
         			<% for (i = 0; i < 6; i++) { %>
              
        			<div class="stories">
        				<h4><%= results.right[i].title %></h4>
                <a target="_blank" href=<%= results.right[i].url %>>Read full story<br><br></a>
        			</div>

    		      <% } %>

          </div>

          <br>
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-12" id="ap">
              <p>with support from news api. <a href="mailto:thorstenwschroeder@gmail.com?Subject=Hello%20again" target="_top">Contact Me</a></p>
            </div>
          </div>
          
    </div>

  <% include ./partials/social_media_scripts %>

  </body>
</html>
