<!DOCTYPE html>
<html>
  <head>
    <title>FullStory</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- META PROPS FOR FACEBOOK SHARE BUTTON -->
    <meta property="og:url"           content="https://thefullstory.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="FullStory" />
    <meta property="og:description"   content="put the news in perspective" />
    <meta property="og:image"         content="https://thefullstory.herokuapp.com/" />
  </head>
  <body>
  <!-- FACEBOOK SHARE BUTTON DEPENDENCY -->
  <div id="fb-root"></div>

  <div class="container">
        <center> <a href='/'><h1>FullStory<small> put the news in perspective.</small></h1></a></center>

        <div id="social-media">
          <div class="fb-share-button social-media-button-container" data-href="https://thefullstory.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthefullstory.herokuapp.com%2F&amp;src=sdkpreparse">Share</a>
          </div><p />
          <div class="social-media-button-container">
            <a href="https://twitter.com/intent/tweet?text=Put%20the%20news%20in%20perspective%20with%20FullStory&hashtags=thefullstory,media" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
          </div>
        </div>

            <br>
            <br>
        <div class="row"> 
            <div class="col-sm-12">
            <center>
              <form action="/search" method="POST" class="form-inline">
                  <div class="form-group">
                    <label for="search">Search:</label>
                    <input type="text" class="form-control" name="search">
                  </div>
                  <button type="submit" id="submit" class="btn btn-default">Submit</button>
              </form>
              </center>
            </div>
        </div>
      <br>
      <br>
      <br>

        <div class="row">

          <div class="col-sm-4" class="source">
            <center><h2 class="lead">What the <span>L E F T</span> says</h2></center>
            <br>

              <% for (i = 0; i < 12; i += 2) { %>

              <div class="stories">
                <h4><%= results.left[i].headline %></h4>
                <a target="_blank" href=<%= results.left[i].link %>>Read full story<br><br></a>
              </div>

              <% } %> 
              

          </div>

          <div class="col-sm-4" class="source">
            <center><h2 class="lead">What the <span>C E N T E R</span> says</h2></center>
            <br>
           	
        			<% for (i = 0; i < 6; i++) { %>

        			<div class="stories">
                <h4><%= results.center[i].headline %></h4>
                <a target="_blank" href=<%= results.center[i].link %>>Read full story<br><br></a>
              </div>

        			<% } %> 

          </div>

          <div class="col-sm-4" class="source">
              <center><h2 class="lead">What <span>R I G H T</span> says</h2></center>
              <br>
             	
         			<% for (i = 0; i < 6; i++) { %>
              
        			<div class="stories">
        				<h4><%= results.right[i].title %></h4>
                <a target="_blank" href=<%= results.right[i].url %>>Read full story<br><br></a>
        			</div>

    		      <% } %>

          </div>

          <br>
          <br>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-12" id="ap">
              <p>with support from news api. <a href="mailto:thorstenwschroeder@gmail.com?Subject=Hello%20again" target="_top">Contact Me</a></p>
            </div>
          </div>
          
    </div>

    <!-- FACEBOOK -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- TWITTER -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </body>
</html>
